@model IEnumerable<SmartMvc.Core.Domain.Book>
@using OneCard.MVC.Helpers
@using SmartMvc.Core.Enums;
@{
    ViewBag.Title = @Resources.Site.Library;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel-heading">
            <h2>@Resources.Site.Library</h2>
            <div class="create-btn">
                @Html.ActionLink(@Resources.Site.AddBook, "Create", null, new { @class = "btn btn-info" })
            </div>
        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Shared/_MessageResult.cshtml", ViewData)
            <div id="TableList">
                <table class="table datatable">
                    <thead>
                        <tr>
                            <th>
                                @Resources.Site.RowNo
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BookCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BookTitle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BookPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BookStatus)
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.BookAuthor)
                                </th>*@
                            @*<th>
                                    @Html.DisplayNameFor(model => model.BookYear)
                                </th>
                            *@
                            <th>
                                @Html.DisplayNameFor(model => model.BookQuantity)
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.BookAddDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookModifyDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookUserId)
                                </th>*@
                            @*<th>
                                    @Html.DisplayNameFor(model => model.BookPriority)
                                </th>*@
                            @*<th>
                                    @Html.DisplayNameFor(model => model.BookIsDeleted)
                                </th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int rowNo = 0; }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(rowNo += 1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookPrice)
                                </td>
                                <td>
                                    @*@Enum.GetName(typeof(BookStatus), item.BookStatus)*@
                                    @DataAnnotationHelpers.GetDisplayValue((BookStatus)item.BookStatus)
                                    @*@Html.DisplayFor(modelItem => item.BookStatus)*@
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.BookAuthor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookYear)
                                    </td>
                                *@
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookQuantity)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.BookAddDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookModifyDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookUserId)
                                    </td>*@
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.BookPriority)
                                    </td>*@
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.BookIsDeleted)
                                    </td>*@
                                <td>
                                    @Html.ActionLink(@Resources.Site.Edit, "Edit", new { id = item.BookId }, new { @class = "btn btn-info  fa fa-edit" })
                                    <a href="#" onclick="showPopup('@Url.Action("Delete", "Books",  new { id = item.BookId })', '@String.Format("{0}",item.BookTitle) ')"
                                       title='@Resources.Site.Delete' class="btn btn-danger fa fa-trash-o">@Resources.Site.Delete</a>
                                    <a href="#" onclick="showPopup('@Url.Action("Details", "Books",  new { id = item.BookId })', '@String.Format("{0}",item.BookTitle) ')"
                                       title='@Resources.Site.Details' class="btn btn-default">@Resources.Site.Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @if (CultureHelper.IsRtl)
    {
        <script>
            var lang = 'ar';
            initDatatable(lang);
        </script>
    }
    else
    {
        <script>
            var lang = 'en';
            initDatatable(lang);
        </script>
    }
}