@model IEnumerable<SmartMvc.Core.Domain.FoodMenu>
@using OneCard.MVC.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel-heading">
            <h2>@Resources.Site.FoodMenu</h2>
            <div class="create-btn">
                @Html.ActionLink(@Resources.Site.AddFoodMenu, "Create", null, new { @class = "btn btn-info" })
            </div>
        </div>

        <div class="panel-body">
            @Html.Partial("~/Views/Shared/_MessageResult.cshtml", ViewData)
            <div id="TableList">
                <table class="table datatable">
                    <thead>
                        <tr>
                            <th>
                                @Resources.Site.RowNo
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FMenuCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FMenuTitle)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.FMenuDescription)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.FMenuPrice)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.FMenuAddDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FMenuModifyDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FMenuUserId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FMenuModifyUserId)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.FMenuPriority)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.FMenuIsDeleted)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FMenuIsPublished)
                            </th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int rowNo = 0; }
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @(rowNo += 1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FMenuCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FMenuTitle)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.FMenuDescription)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.FMenuPrice)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.FMenuAddDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FMenuModifyDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FMenuUserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FMenuModifyUserId)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.FMenuPriority)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.FMenuIsDeleted)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FMenuIsPublished)
                            </td>*@
                            <td>
                                @Html.ActionLink(@Resources.Site.Edit, "Edit", new { id = item.FMenuId }, new { @class = "btn btn-info  fa fa-edit" })
                                <a href="#" onclick="showPopup('@Url.Action("Delete", "FoodMenus",  new { id = item.FMenuId })', '@String.Format("{0}",item.FMenuTitle) ')"
                                   title='@Resources.Site.Delete' class="btn btn-danger fa fa-trash-o">@Resources.Site.Delete</a>
                                <a href="#" onclick="showPopup('@Url.Action("Details", "FoodMenus",  new { id = item.FMenuId })', '@String.Format("{0}",item.FMenuTitle) ')"
                                   title='@Resources.Site.Details' class="btn btn-default">@Resources.Site.Details</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>


@section scripts
{
    @if (CultureHelper.IsRtl)
    {
        <script>
            var lang = 'ar';
            initDatatable(lang);
        </script>
    }
    else
    {
        <script>
            var lang = 'en';
            initDatatable(lang);
        </script>
    }
}
